.Nav_container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100vw;
  height: 500px;
  background: url("../../../public/images/background.png") center no-repeat;
  align-items: start;
}
.Nav_first {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}
.Nav_first > p {
  padding-left: 5px;
}
.Nav_button {
  display: flex;
  align-items: center;
}
.Nav_btnChild1 {
  margin-right: 10px;
}

.Nav_btnChild2 {
  color: var(--Blackish-Green, #121);
  background: #40d1f0;
  padding: 10px 24px;
  font-weight: 600;
  border: none;
}
